/* dark styling of the editor */
.editorContainer div.jsoneditor,
.editorContainer div.jsoneditor-menu {
  border-color: #4b4b4b;
}
.editorContainer div.jsoneditor-menu {
  background-color: #4b4b4b;
}
.editorContainer div.jsoneditor-menu a.jsoneditor-poweredBy  {
  display: none;
}
.editorContainer div.jsoneditor-tree,
.editorContainer div.jsoneditor textarea.jsoneditor-text {
  background-color: #666666;
  color: #ffffff;
}
.editorContainer div.jsoneditor-field,
.editorContainer div.jsoneditor-value {
  color: #ffffff;
}
.editorContainer table.jsoneditor-search div.jsoneditor-frame {
  background: #808080;
}

.editorContainer tr.jsoneditor-highlight,
.editorContainer tr.jsoneditor-selected {
  background-color: #808080;
}

.editorContainer div.jsoneditor-field[contenteditable=true]:focus,
.editorContainer div.jsoneditor-field[contenteditable=true]:hover,
.editorContainer div.jsoneditor-value[contenteditable=true]:focus,
.editorContainer div.jsoneditor-value[contenteditable=true]:hover,
.editorContainer div.jsoneditor-field.jsoneditor-highlight,
.editorContainer div.jsoneditor-value.jsoneditor-highlight {
  background-color: #808080;
  border-color: #808080;
}

.editorContainer div.jsoneditor-field.highlight-active,
.editorContainer div.jsoneditor-field.highlight-active:focus,
.editorContainer div.jsoneditor-field.highlight-active:hover,
.editorContainer div.jsoneditor-value.highlight-active,
.editorContainer div.jsoneditor-value.highlight-active:focus,
.editorContainer div.jsoneditor-value.highlight-active:hover {
  background-color: #b1b1b1;
  border-color: #b1b1b1;
}

.editorContainer div.jsoneditor-tree button:focus {
  background-color: #868686;
}

/* coloring of JSON in tree mode */
.editorContainer div.jsoneditor-readonly {
  color: #acacac;
}
.editorContainer div.jsoneditor td.jsoneditor-separator {
  color: #acacac;
}
.editorContainer div.jsoneditor-value.jsoneditor-string {
  color: #00ff88;
}
.editorContainer div.jsoneditor-value.jsoneditor-object,
.editorContainer div.jsoneditor-value.jsoneditor-array {
  color: #bababa;
}
.editorContainer div.jsoneditor-value.jsoneditor-number {
  color: #ff4040;
}
.editorContainer div.jsoneditor-value.jsoneditor-boolean {
  color: #ff8048;
}
.editorContainer div.jsoneditor-value.jsoneditor-null {
  color: #49a7fc;
}
.editorContainer div.jsoneditor-value.jsoneditor-invalid {
  color: white;
}
